venv/
.env
ml-api-env/

__pycache__/
*.py[cod]
*.so

models/*.pkl
models/*.h5

.ipynb_checkpoints/

logs/
*.log
*.out
*.pid
*.db

Pipfile
Pipfile.lock
poetry.lock

data/
datasets/

.vscode/
.idea/
*.iml

docker-compose.override.yml
.envrc
